.notcapital{
  text-transform: none;
}

.transparent{
  background-color: transparent;
}

.round-right{
  border-radius: 0px 15px 15px 0px;
}

.round-top{
  border-radius: 15px 15px 0px 0px;
}

.select-line {
  max-width: 12vw;
  
}

.select-line .v-input__control .v-input__slot{
  margin : 0px;
  border-radius: 20px !important;
  background-color: yellow !important;
  
}

.select-line .v-input__control .v-input__slot .v-select__slot{
  padding-left: 2vw;
}

.card-rounded {
  border: 1px solid lightblue !important;
  border-radius: 15px;
}